<% if current_user %>
  
    <h1>Here is some info about you...</h1>
    
      <ul>
        <li><%= image_tag current_user.image_url, alt: current_user.name, size: '50x50' %></li>
        <li><strong>Provider:</strong> <%= current_user.provider %></li>
        <li><strong>Name:</strong> <%= current_user.name %></li>
        <li><strong>email:</strong> <%= current_user.email %></li>
      </ul>
  
    <h1>Photo</h1>
 
      <%= render 'photos/form', photo: @photo %>

<% else %>
  <%= render 'static_pages/welcome' %>
<% end %>
