<div class="col-lg-4 col-md-5 col-sm-6 imgspace" id="photo<%= userphotos.id %>">
	<div class="thumbnail thumb2">
 <div class="imgwarp"> <%= link_to (image_tag(userphotos.picture.url(:medium),class:'img-rounded imgr2',alt: 'Image') if userphotos.picture?), userphotos.picture.url, data: {
  	lightbox: "example-set", title: "#{userphotos.name}"
  } %> </div>

  
  <div class="photo-info"> 
     <div class="title"><strong>Title: </strong><%= userphotos.name %></div>
  	 <div class="<%= userphotos.state %> state"><strong>state:</strong> <%= userphotos.state %></div>
  	 <div><%=link_to "SHOW", photo_path(userphotos.id) %></div>
  	 <div><%=link_to "EDIT", edit_photo_path(userphotos.id) %></div>
     <div><%=link_to "DELETE", photo_path(userphotos.id), id:userphotos.id, class:"photo-delete-link" %></div>
  </div>

  </div>
</div>