<div class="profile"><h1>Profile</h1></div>
  <div class="profile">

  <div class="profile-info">
    
      <ul>
        <h4>Information</h4>
        <li><div><%= image_tag current_user.image_url, alt: current_user.name, size: '50x50' %></div></li>
        <li><strong>Provider:</strong> <%= current_user.provider %></li>
        <li><strong>Name:</strong> <%= current_user.name %></li>
        <li><strong>email:</strong> <%= current_user.email %></li>
        <li id="token-li"><button id="token" onclick="getUserToken()"><p id="p">T</p></button></li>
        <li id="credentials-token"><strong>Token:</strong></li>

        <div class="profile-info-btn">
          <%= link_to 'Settings', edit_user_path(current_user.id),class: 'btn btn-m btn-default' %>
          <%= render 'form' %>
        </div>

      </ul>
  </div>

    <div class="profile-photos">
      <div id="profile-photos-collection">
      <h4>Your Photos</h4>
      <%= render partial: 'user_photos',collection: @user_photos, locals: { user_photos: @user_photos} %>
      </div>
      
       <div class="profile-pagination"> 
       <span id="pagination"> <%= paginate @user_photos, remote: true %> </span>
       </div>
    </div>

  </div>