<%= form_for current_user.photos.build do |f| %>
  <div class="photo-load">
    <%= f.label :picture,"Add Photo", class: 'btn btn-m btn-success' %></div>

    <div class="adds">
    <div class="photo-load">
    <div id="photo-label">Title</div>
    <%= f.text_field :name %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', style: "display: none;", onchange: "readURL(this);" %>
    </div>
  

  <div class="photo-load">
    <img id="img_prev" style="display: none;" src="#" />
  </div>

  <div class="photo-load" id="uploadFileName"></div>
  </div>

  <div>
    <%= f.submit "Upload", style: "display: none;" ,id: "submitBtn", class: 'btn btn-m btn-success' %>
    <% end %>
  </div>
