<% provide(:show, "pgshow") %>
<% provide(:class, "pgbody") %>
<div class="photo-show-warp">
<div class="photo-show">


<div class="photo-show-img">
  <%= image_tag(@photo.picture.url, alt: 'Image',id:"imageshow") if @photo.picture? %>
  
</div>

</div> 

<div class="photo-comments">
	<div class="user">
	<div class="user-avater"><%= image_tag(@user.image_url,size: "50x50", alt: 'Image',id:"imageshow") if @user.image_url? %></div>
	<div class="user-name">
	  <%= @user.name %>
	  <div class="user-title"><h4><%= @photo.name %></h4></div>
			
	</div>
	</div>

	<% pre_like = @photo.likes.find { |like| like.user_id == current_user.id  } if current_user %>

	<div class="photo-comments-like">
	  <div>
	  	<%= image_tag 'Thumbs_up.svg',size: "35x35" if !current_user%>

	  	<%= link_to (image_tag('Thumbs_up.svg',size: "35x35")), photo_likes_path(@photo), remote:true, method: :post if !pre_like && current_user%>

	    <%= link_to (image_tag('Thumbs_up01.svg',size: "35x35")), photo_like_path(@photo, pre_like),remote:true, method: :delete if pre_like%>
	  	
	  </div>

	  <span><%= @photo.likes.count %></span>
	</div>

</div>

</div>
