<header class="navbar navbar-fixed-top navbar-inverse <%= yield(:show) %>">
  <div class="container-left">
    <%=link_to image_tag("shine.png",id: "shine", size: "50x50"), root_path %>
    <%= link_to image_tag("logo.svg", id: "logo"),
                          root_path %>
    <% if current_user %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><div><%= link_to (image_tag current_user.image_url, alt: current_user.name, size: '50x50'), current_user %></div></li>

        <div class="dropdown">
          <button onclick="dropdownMenu()" class="dropbtn" >
              Account <b class="caret"></b></button>
         <div id="myDropdown" class="dropdown-content"> 
           <li><%= link_to "Profile", current_user %></li>
           <li><%= link_to "Settings", edit_user_path(current_user.id) %></li> 
           <li ><%= link_to 'Log Out', logout_path, method: :delete %></li>
         </div>
        </div>

      </ul>
    </nav>
    <% else %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sig up", signup_path, class: "btn btn-lg btn-primary" %></li>
      </ul>
    </nav>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><div><%=image_tag ('shine.png'),size: '50x50' %></div>
          <%= link_to "Gallery", photos_path if !current_user %>
        </li>

        <li> 
        </li>
      </ul>
      <div class="mx-auto order-0  " id="search-form">
           <%= form_tag(search_path, :method => "get", class: "search #{yield(:search)}", id: "search",remote: true) do %>  
           <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %> 
           <%= hidden_field_tag 'reverse', false , id: "reverse-value"%> 
           <%= hidden_field_tag 'page', "#{@paginate_array.current_page if @paginate_array}" %>
           <%= button_tag "", class:'btn btn-info glyphicon glyphicon-search',name: nil, id:"glyphicon"%>  
           <button class='reverse' onclick='reverseLeaders()' id="btn-reverse" ></button>
          <% end %>
        </div>
    </nav>
  </div>
</header>
