<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | EpicShots </title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <%= render 'layouts/rails_default' %>
    <script src="http://malsup.github.com/jquery.form.js" data-turbolinks-track="reload"></script> 
    <%= render 'layouts/shim' %>
  </head>
     <body class="<%= yield(:class) %>">
      <div class="wrapper">
        <div class="content">
          <%= render 'layouts/header' %>
             <% flash.each do |message_type, message| %>
               <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
             <% end %>
             <%= yield %>
        </div>
        <div class="footer">
          <%= render 'layouts/footer' %>
        </div>
       </div>
     </body>
</html>
