<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | EpicShots </title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
     <body class="<%= yield(:class) %>">
      <div class="wrapper">
        <div class="content">
          <%= render 'layouts/header' %>
          <div class="container">
             <% flash.each do |message_type, message| %>
               <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
             <% end %>
             <%= yield %>
          </div>
        </div>

        <div class="footer">
          <%= render 'layouts/footer' %>
        </div>
       </div>
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     </body>
</html>
