<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | EpicShots </title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
      </head>
     <body class="<%= yield(:class) %>">
       <%= render 'layouts/header' %>
       <div class="container">
         <% flash.each do |message_type, message| %>
           <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
         <% end %>
         <%= yield %>
       </div>
       <%= render 'layouts/footer' %>
     </body>
</html>
