<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | EpicShots </title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
      </head>
     <body class="<%= yield(:class) %>">
       <%= render 'layouts/header' %>
       <div class="container">
         <%= yield %>
       </div>
       <%= render 'layouts/footer' %>
     </body>
</html>
